name: CI + Publish
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      check:
        type: boolean
        description: "Run checks?"
        required: false
        default: true
      publish-jsr:
        type: boolean
        description: "Publish to JSR?"
        required: false
        default: false
      publish-npm:
        type: boolean
        description: "Publish to NPM?"
        required: false
        default: false
      publish-gpr:
        type: boolean
        description: "Publish to GitHub Package Registry?"
        required: false
        default: false
jobs:
  check:
    if: github.event.inputs.check == 'true' || github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - run: deno run ok

  publish:
    if: |
      (github.event_name == 'push' &&
        startsWith(github.ref, 'refs/tags/') &&
        needs.check.result == 'success') ||
      (github.event_name == 'workflow_dispatch' && (
        github.event.inputs['publish-jsr'] == 'true' ||
        github.event.inputs['publish-npm'] == 'true' ||
        github.event.inputs['publish-gpr'] == 'true'
      ) && (needs.check.result == 'success' || github.event.inputs['check'] == 'false'))
    runs-on: ubuntu-latest
    needs: check
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v5

      - name: "setup deno"
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - if: |
          (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs['publish-jsr'] == 'true')
        name: "publish to jsr"
        run: deno publish --dry-run && deno publish

      - if: |
          (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs['publish-npm'] == 'true')
        name: "setup node for npm"
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - if: |
          (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
          (github.event_name == 'workflow_dispatch' && (github.event.inputs['publish-npm'] == 'true' ||
          github.event.inputs['publish-gpr'] == 'true'))
        name: "build for npm"
        run: deno task build
        env:
          NO_PUBLISH: "1"
      - if: |
          (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs['publish-npm'] == 'true')
        name: "publish to npm"
        run: npm publish --access public
        working-directory: npm

      - if: |
          (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs['publish-gpr'] == 'true')
        name: "setup node for gpr"
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          registry-url: "https://npm.pkg.github.com"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: |
          (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs['publish-gpr'] == 'true')
        name: "publish to gpr"
        working-directory: npm
        run: npm publish --access public
